<div class="flex flex-wrap gap-3">
  <div class="min-w-[160px] flex-1">
    <app-ui-select
      label="Subtipo"
      name="subtipo"
      [options]="subtipoOpcoes"
      [value]="filtros().subtipo ?? ''"
      (valueChange)="onSubtipoChange($event?.toString() ?? '')"
    />
  </div>
  <div class="min-w-[150px] flex-1">
    <app-ui-select
      label="Período"
      name="periodo"
      [options]="periodoOpcoes"
      [value]="filtros().periodo ? filtros().periodo!.toString() : ''"
      (valueChange)="onPeriodoChange($event?.toString() ?? '')"
    />
  </div>
  <div class="min-w-[120px] flex-1">
    <app-ui-select
      label="Ano"
      name="ano"
      [options]="anoOpcoes"
      [value]="filtros().ano ? filtros().ano!.toString() : ''"
      (valueChange)="onAnoChange($event?.toString() ?? '')"
    />
  </div>
</div>
